.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.card-img-top {
  padding: 10px;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

.card {
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0);
  transform: translateX(-50%) translateY(-50%) translateZ(0);
  width: 370px;
  background-color: #ffffffab;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  -webkit-transition: box-shadow 0.5s;
  transition: box-shadow 0.5s;
}

.card a {
  color: inherit;
  text-decoration: none;
}

.card:hover {
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
}


/**
* DATE
**/

.card__date {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 45px;
  height: 45px;
  padding-top: 10px;
  background-color: coral;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  font-weight: 700;
  line-height: 13px;
}

.card__date__day {
  font-size: 14px;
}

.card__date__month {
  text-transform: uppercase;
  font-size: 10px;
}


/**
* THUMB
**/

.card__thumb {
  height: 245px;
  overflow: hidden;
  -webkit-transition: height 0.10s;
  transition: height 0.5s;
}

.card__thumb img {
  width: 100%;
  display: block;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, transform 0.5s;
  transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
}

.card:hover .card__thumb {
  height: 200px;
}

.card:hover .card__thumb img {
  opacity: 0.6;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}


/**
* card_BODY
**/

.card__body {
  position: relative;
  height: 180px;
  padding: 5px;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
}

.card:hover .card__body {
  height: 220px;
}


.card__title {
  margin: 0;
  padding: 0 0 10px 0;
  color: #000;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
}


.card__description {
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 56px;
  margin: 0;
  padding: 0;
  color: #000000;
  line-height: 27px;
  opacity: 0;
  -webkit-transform: translateY(45px);
  transform: translateY(45px);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.card:hover .card__description {
  opacity: 1;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}


.bg {
  background: url(../image/brooke-lark-lcZ9NxhOSlo-unsplash.jpg) no-repeat;
  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.bg {
  background: url(../image/brooke-lark-lcZ9NxhOSlo-unsplash.jpg) no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -3;
}

.bg:before {
  content: "";
  width: 100%;
  height: 100%;
  /* background: #000; */
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  opacity: 0.3;
}

.AddClassDate {
  font-size: x-small;
}

.body-container{
  margin-top: 75px;
}
/* .navbar, .MealHeader {
  position: fixed !important;
  transition: all 0.3s ease-out 0s !important;
  padding: 0.3rem 2rem !important;
  font-size: 1.2rem !important;

}

@media (max-width: 767px) {
  .navbar {
    padding: 0.1rem 0.5rem !important;
    font-size: 1.4rem !important;
    background: linear-gradient(0deg, #fffdfd 0%, #ffffff 100%) !important;
  }
} */

.NavMain {
  background-color: rgba(255, 68, 0, 0.316);
  border-radius: 10px;
}

.modal-dialog, .modal-content{
  background-color: rgba(255, 255, 255, 0.642);
  border-radius: 10px;
}

.modal-header{
  background-color: rgba(185, 185, 185, 0.316);

}

.modal-body{
  background-color: rgb(255, 255, 255);
  font-family: "mat";

}